<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_for_Graduating.My.MySettings.driverConnectionString"
            connectionString="server=localhost;user id=root;password=admin;persistsecurityinfo=True;database=driver"
            providerName="MySql.Data.MySqlClient" />
        <add name="Project_for_Graduating.My.MySettings.carConnectionString"
            connectionString="server=localhost;user id=root;password=admin;persistsecurityinfo=True;database=car"
            providerName="MySql.Data.MySqlClient" />
        <add name="Project_for_Graduating.My.MySettings.qichehengConnectionString"
            connectionString="server=vps.dieling.cc;user id=test;password=1004426187;persistsecurityinfo=True;database=qicheheng"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>